@font-face {
	font-family: 'vegur';
	src: url(vegur.otf);
}

#clock{
	display:none;
}

#startGame{
	width:200px;
	height: 10px;
	background: #426CF5;
	color:black;
	text-align:center;
	border-radius:30px;
	padding-bottom:50px;
	cursor:pointer;
	font-family: 'vegur';
	font-size: 50px;
	position: absolute;
    left: 50%;
    margin-top: 90px;
    margin-left: -50px;
    border: 1px solid black;
}

p {
	font-size: 40px;
}

h1 {
	font-family: 'vegur';
	font-weight: 100%;
}

body {
	color: #333;
	text-align: center;
	font-family: 'vegur';
	background-color: #CBF7DD;
}

#time {
	  position:fixed;
    z-index:-1;
    height:50%; 
    width:50%;
   left: 90px;
  right: 0px;
    top: 0px;
    bottom: 0px;
   margin: auto;
    color: black;
    font-size: 40px;
}

h1 {
  font-size: 90px;
  font-family: 'vegur';
  text-align: center;
  letter-spacing: 5px;
  padding: 0px;
  margin-bottom: 0;
  text-shadow: 3px 2px #08495E;
  color:;
  -webkit-transform: rotate(-10deg);
}


h2 {
  font-size: 50px;
  font-family: 'vegur';
  text-align: center;
  letter-spacing: 5px;
  padding: 0px;
  margin-top: 0;
}

#scroll {
  font-size: 40px;
  text-decoration: none;
  text-align: center;
  color: white;
}

.contentbox {
  background: #FFF;
  height: 500px;
  margin: 20px;
  font-size: 28px;
  border: #CCC 1px solid;
}

#cssmenu {
  font-family: arial;
  font-size: 10px;
  line-height: 15px;
  text-transform: uppercase;
  text-align: left;
  padding: 14px;
  margin-top: 0px;
  margin-bottom: -40px;
  background-color: #6BBFDB;
}

#cssmenu > ul {
  width: auto;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background: #ffffff;
  border: 1px solid #ece6e8;
  border-bottom: 3px solid #d9ced2;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 6px;
}

#cssmenu > ul li#responsive-tab {
  display: none;
  /* Hide for large screens */

}
#cssmenu > ul li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  font-size: 40px;
}
#cssmenu > ul li.right {
  float: right;
}
#cssmenu > ul li.has-sub {
  position: relative;
}
#cssmenu > ul li.has-sub:hover ul {
  display: block;
}
#cssmenu > ul li.has-sub ul {
  display: none;
  width: 250px;
  position: absolute;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: #ffffff;
  border: 1px solid #ece6e8;
  border-bottom: 3px solid #d9ced2;
  border-top: 0 none;
}
#cssmenu > ul li.has-sub ul li {
  display: block;
}
#cssmenu > ul li.has-sub > a {
  background-image: url('images/caret.png');
  background-repeat: no-repeat;
  background-position: 90% -95%;
}
#cssmenu ul li.has-sub > a.active,
#cssmenu ul li.has-sub > a:hover {
  background: #8CE6D2; url('images/caret.png') no-repeat;
  background-position: 90% 195%;
}
#cssmenu ul li a {
  display: block;
  padding: 12px 24px 11px 24px;
  text-decoration: none;
  font-size: 13px;
  color: #747474;
  text-shadow: 0px 1px 0px #fff; 
  border-radius: 5px;
  margin-right: 10px;
  transition: backgr ound 0.3s linear 0s, color 0.3s linear 0s;
  -ms-transition: background 0.3s linear 0s, color 0.3s linear 0s;
  -o-transition: background 0.3s linear 0s, color 0.3s linear 0s;

}
#cssmenu ul li a.active,
#cssmenu ul li a:hover {
  background: #8CE6D2;
  color: #fff;
  text-shadow: 0px 1px 0px #000;
}
@media (max-width: 600px) {
  #cssmenu > ul {
    width: 100%;
  }
  #cssmenu > ul li#responsive-tab {
    display: block;
  }
  #cssmenu > ul li#responsive-tab a {
    background: url('images/menu.png') no-repeat;
    background-position: 95% -35%;
  }
  #cssmenu > ul li#responsive-tab a:hover {
    background-color: blue;
    background-position: 95% 135%;
  }
  #cssmenu > ul li {
    display: none;
  }
  #cssmenu > ul li.right {
    float: none;
  }
  #cssmenu > ul li.has-sub {
    position: relative;
  }
  #cssmenu > ul li.has-sub ul {
    display: block;
    position: static;
    width: 100%;
    background: #8CE6D2;
    border: 0 none;
  }
  #cssmenu > ul li.has-sub ul li {
    display: block !important;
  }
  #cssmenu > ul li.has-sub ul li a span {
    display: block;
    padding-left: 24px;
  }
  #cssmenu > ul li.has-sub > a {
    background-image: none;
  }

  
}